<div id="searchBar" class="navbar">
  <h1>Album Search</h1>
  <div class="input-group">
    <form id="artist">
      <label>
        <input [(ngModel)]="artist" name="search" placeholder="Search.." type="text">
      </label>
    </form>
    <button form="artist" (click)="getSearch()" type="submit">Search</button>
  </div>
</div>
<div *ngIf="mergedResult">
  <div class="row">
    <ng-container *ngFor="let id of mergedResult">
      <div class="col-md-2 contact-details box">
        <a class="nav-link" href="{{id.link}}">
          <img src="{{id.albumCover}}" class="img-fluid leftfoto" alt="Artist">
          <h3>{{id.artistName}}</h3>
          <h4>{{id.title}}</h4>
        </a>
      </div>
      <script>console.log(data)</script>
    </ng-container>
  </div>
</div>

<router-outlet></router-outlet>
