.color-palette:hover {
  cursor: pointer;
}

:host {
  width: 250px;
  height: 250px;
  display: block;
}
canvas{
  width: 400px;
  height: 200px;
  border: 1px solid black;
  margin: 40px;
  // background-image: url(asset/setka.png);
}
