<nav class="navbar navbar-dark bg-dark">
  <div class="input-group">
    <form id="artist" class="form-inline" [formGroup]="searchForm" (submit)="getSearch(searchForm)">
      <h2 class="title">Album Search</h2>
      <div class="input-group mb-3">
        <label>
          <input formControlName="artistName" type="text" class="form-control" placeholder="artist name"
                 aria-describedby="button-addon2" ><!--(autocomplete)="updateValueFromUri()"-->
        </label>
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" type="submit" id="button-addon2" form="artist">Search</button>
        </div>
      </div>
    </form>
  </div>
</nav>

<!--<nav class="navbar navbar-dark bg-dark">-->
<!--  <div class="input-group">-->
<!--    <form id="artist" class="form-inline" [formGroup]="searchForm" (submit)="getSearch(searchForm)">-->
<!--      <label>Album Search</label>-->
<!--      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">-->
<!--      <button class="btn btn-outline-success my-2 my-sm-0" type="submit" form="artist">Search</button>-->
<!--    </form>-->
<!--  </div>-->
<!--</nav>-->
